{% extends "base.html" %}
{% load url from future %}


{% block sidebar %}
{% if user.is_authenticated %}
	<div class="status">Welcome, {{user.username}}. 
	<a href="/rate/logout">Logout</a></div>
{% else %}
	<div class="status">Please <a href="/rate/login">log in</a>.</div>
{% endif %}
{% endblock sidebar %}


{% block content %}
<link type="text/css" href="/media/ui-lightness/jquery-ui-1.8.17.custom.css" rel="stylesheet" />	
<script type="text/javascript" src="/media/jquery-ui-1.8.17.custom.min.js"></script>

<h1>
	<a href="/rate/{{yes_year}}/{{yes_month}}/{{yes_day}}">yesterday</a>
	Articles of {{year}}-{{month}}-{{day}}
	<a href="/rate/{{tom_year}}/{{tom_month}}/{{tom_day}}">tomorrow</a></h1>

<script>
	$(function() {
		$( "#datepicker" ).datepicker( {
			minDate: (new Date(2012, 1-1, 1)), 
			maxDate: "+1D", 
			dateFormat: 'yy/mm/dd',
			gotoCurrent: true,
			setDate: "{{year}}/{{month}}/{{day}}",
			beforeShowDay: $.datepicker.noWeekends,
			onSelect: function(dateText, inst) { 
				window.location.href='/rate/'+dateText;
				}
		});
	});
</script>

<div class="date" id="datepicker"></div>

<script>
function vote(kind, id) {
  $.getJSON("/rate/vote/", { identifier: id, vote: kind }, function(json){
  	$('tr[article-id="'+id+'"][.votecell] span').text(json['score']);
    //  alert("Was successful?: " + json['score']);
  });
}
function addClickHandlers() {
  $('.vote-up-off').click( function( event ) { 
	  	vote( 'like', $(event.target).closest('tr').attr('article-id') ) 
  	});
  $('.vote-down-off').click( function( event ) { 
  	  	vote( 'dislike', $(event.target).closest('tr').attr('article-id') ) });
  $('.abstract').click( function() { 
  	if ($( this ).css('font-size') == '4px') {
  		 $( this ).css('font-size', 'medium');
  		 vote( 'abstract', $( this ).closest('tr').attr('article-id') );
    } else {
    	 $( this ).css('font-size', '4px');
    }
  	})
}
$(document).ready( addClickHandlers )
</script>

<small>total of {{article_list|length}} entries</small>

{% if article_list %}
    <table>
    {% for article in article_list %}  
	    <tr article-id="{{ article.identifier }}">
	    <td class="votecell">
		    <a class="vote-up-off" title="like (click again to undo)">up</a>
	    	<span class="vote-count">{{ article.score }}</span>
	    	<a class="vote-down-off" title="dislike (click again to undo)">down</a>
		</td>
		
		<td class="articlecell">
			<dl>
	        <dt><a href="/rate/detail/{{ article.identifier }}/">{{ article.identifier }}</a> 
	        	<a href="http://arxiv.org/abs/{{ article.identifier }}">abs</a>    	
	        	<a href="http://arxiv.org/pdf/{{ article.identifier }}">PDF</a></dt>
	        <dd>
		       	<div class="score">Score: {{ article.likes.count }} {{ article.dislikes.count }}</div>
	        	<div class="list-title">{{ article.title }}</div>
	        	<div class="list-authors">{{ article.authors }}</div>
	        	<div class="abstract"><p>{{ article.abstract }}</p></div>
	        </dd>
	        </dl>	
	   	</td>
	  	</tr>
    {% endfor %}
  	</table>
{% else %}
    <p>No articles are available.</p>
{% endif %}

{% endblock content %}
