{% extends "base.html" %}

{% block title %}- User statistic of {{user.username}}{% endblock title %}

{% block content %}

<h1>Statistics of user: {{user.username}}</h1>

<div id="joined">joined: {{user.date_joined|date:'r'}}</div>
<div id="last_login">last login: {{user.last_login|date:'r'}}</div>

<a id="pwd_reset" href="/rate/accounts/password/change">change password</a>

<p></p>

{% if user.liked %}
    <table>
    <tr><td>likes:</td></tr>
    {% for art in user.liked.all %}  
		<tr><td>{{art.identifier}}</tr></td>
    {% endfor %}
	</table>
{% endif %}

<p></p>
{% if user.disliked %}
    <table>
    <tr><td>dislikes:</td></tr>
    {% for art in user.disliked.all %}  
		<tr><td>{{art.identifier}}</tr></td>
    {% endfor %}
	</table>
{% endif %}

<p></p>
{% if user.abs_expanded %}
    <table>
    <tr><td>looked at abstracts of:</td></tr>
    {% for art in user.abs_expanded.all %}  
		<tr><td>{{art.identifier}}</tr></td>
    {% endfor %}
	</table>
{% endif %}


{% endblock content %}
