{% extends "base.html" %}

{% block content %}
<h1>
	<a href="/rate/{{yes_year}}/{{yes_month}}/{{yes_day}}">yesterday</a>
	Articles of {{year}}-{{month}}-{{day}}
	<a href="/rate/{{tom_year}}/{{tom_month}}/{{tom_day}}">tomorrow</a></h1>

<script>
function vote(kind, id) {
  $.getJSON("/rate/vote/", { identifier: id, vote: kind }, function(json){
  	$('#test').text(json['score']);
  	$('td[article-id="'+id+'"] span').text(json['score']);
    //  alert("Was successful?: " + json['score']);
  });
}
function addClickHandlers() {
  $('.vote-up-off').click( function( event ) { 
	  	vote( 'like', $(event.target).closest('td').attr('article-id') ) 
  	});
  $('.vote-down-off').click( function( event ) { 
  	  	vote( 'dislike', $(event.target).closest('td').attr('article-id') ) });
  $('.abstract').click( function() { 
  	if ($( this ).css('font-size') == '4px') {
  		 $( this ).css('font-size', 'medium');
    } else {
    	 $( this ).css('font-size', '4px');
    }
  	})
}
$(document).ready( addClickHandlers )
</script>

<span id="test">100</span>

{% if article_list %}
    <table>
    {% for article in article_list %}  
	    <tr>
	    <td class="votecell" article-id="{{ article.identifier }}">
		    <a class="vote-up-off" title="like (click again to undo)">up vote</a>
	    	<span class="vote-count">0</span>
	    	<a class="vote-down-off" title="dislike (click again to undo)">down vote</a>
		</td>
		
		<td class="articlecell">
			<dl>
	        <dt><a href="/rate/detail/{{ article.identifier }}/">{{ article.identifier }}</a> 
	        	<a href="http://arxiv.org/abs/{{ article.identifier }}">abs</a>    	
	        	<a href="http://arxiv.org/pdf/{{ article.identifier }}">PDF</a></dt>
	        <dd>
		       	<div class="score">Score: {{ article.likes.count }} {{ article.dislikes.count }}</div>
	        	<div class="list-title">{{ article.title }}</div>
	        	<div class="list-authors">{{ article.authors }}</div>
	        	<div class="abstract"><p>{{ article.abstract }}</p></div>
	        </dd>
	        </dl>	
	   	</td>
	  	</tr>
    {% endfor %}
  	</table>
{% else %}
    <p>No articles are available.</p>
{% endif %}

{% endblock content %}
